.stickyDropdown {
    margin-top:-2rem;
    margin-left: -2rem;
    margin-right: -2rem;
  
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top:2rem !important;
    
    background-color: var(--thirty);
}

.selectContainer {
    position: relative;
    z-index: 99;
}

.transparentTransition {
    position: absolute;
    left: -1rem;
  
    width: calc(100% + 2rem);
    height: 2rem;
  
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0) 100%
    );
  }
  
  .arrowContainer {
    height: 0px;
  }
  
  .arrow {
    background-color: var(--thirty);
    color: var(--ten);
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    border-radius: 25px;
    padding-top: 0px;
    border-width: 0px;
  
    line-height: 0px;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
  }
  
  .arrow:hover {
    color: var(--ten);
  }
  
  .arrowLeft {
    position: relative;
    left: -144px;
  
    width: 48px;
    height: 48px;
  }
  
  .arrowLowerLeft {
    position: fixed;
    left: 3rem;
    bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 1.0) 0px 5px 15px;
  
    width: 48px;
    height: 48px;
  }

  .arrowRight {
    position: relative;
    left: 144px;
  
    width: 48px;
    height: 48px;
  }
  
  .arrowLowerRight {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 1.0) 0px 5px 15px;
  
    width: 48px;
    height: 48px;
  }
