:root {
  --sixty: #DDD0C8;
  --soft-sixty: #DDD0C8;
  --hard-sixty: #9e9088;
  --thirty: #ffffff;
  --ten: #3b413c;
  --accent: #3b413c;
  --link: blue
}

@font-face {
  font-family: "Quicksand";
  src: url('Quicksand.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Carter One";
  src: url('CarterOne.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: var(--sixty);
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.primary {
  background-color: var(--sixty);
  color: var(--ten);
  font-family: "Quicksand";
  
  min-height: 100vh;
}

.fakeOffset {
  padding-top: 8em;
  margin-top: -8em;
}

.react-tooltip {
  background-color: black;
  opacity: 1;
  max-width: 50vh;
  position: absolute;
  z-index: 1000000 !important;
}

.ignore {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.box {
  background-color: var(--thirty);
  box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
  border-radius: 25px;
}

.sticky-dropdown {
  margin-top:-2rem;
  margin-left: -2rem;
  margin-right: -2rem;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-top:2rem !important;
  
  background-color: var(--thirty);
}

.transparent-transition {
  position: absolute;
  left: -1rem;

  width: calc(100% + 2rem);
  height: 2rem;

  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
  );
}

.arrow-container {
  height: 0px;
}

.arrow {
  background-color: var(--thirty);
  color: var(--ten);
  box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
  border-radius: 25px;
  padding-top: 0px;
  border-width: 0px;

  line-height: 0px;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}

.arrow:hover {
  color: var(--ten);
}

.arrow-left {
  position: relative;
  left: -144px;

  width: 48px;
  height: 48px;
}

.arrow-lowerLeft {
  position: fixed;
  left: 3rem;
  bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 1.0) 0px 5px 15px;

  width: 48px;
  height: 48px;
}

.arrow-lowerRight {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 1.0) 0px 5px 15px;

  width: 48px;
  height: 48px;
}

.arrow-right {
  position: relative;
  left: 144px;

  width: 48px;
  height: 48px;
}

.verseNumber {
  font-weight: bold;
  color: var(--accent);

  line-height: 1rem;
  border-width: 0px;
  border-radius: 5px;

  padding: 5px 7px;
  margin: 0rem 0.33rem 0rem 0rem;
}

.verseNumber:active{
  background-color: var(--link);
}

.verseNumber-dark:active{
  background-color: var(--link);
}

.verseNumber-light {
  transition: 0.3s;
  background-color: var(--soft-sixty);
}

.verseNumber-light:hover {
  background-color: var(--hard-sixty);
}

.verseNumber-dark {
  background-color: var(--hard-sixty);
}

.verseLine {
  line-height: 2em;
  font-size: 1rem;
  white-space: pre-wrap;
}

.error {
  color: red;
}

.header {
  text-align: center;
}

.spinner {
  border: 16px solid silver;
  border-top: 16px solid #337AB7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 700ms linear infinite;
  margin: 100px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg)
  }

  100% {
      transform: rotate(360deg)
  }
}

.form-group label {
  float: left;
  text-align: left;
  font-weight: normal;
}

.form-group select {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.select-container {
  position: relative;
  z-index: 99;
}

.disabled {
  pointer-events: none;
  opacity: 100% !important;
  background-color: lightgray !important;
  color: grey !important;
}

.footnote {
  background-color: black !important;
  opacity: 100% !important;
}

.sticky-comment {
  margin-top:-2rem;
  margin-left: -2rem;
  margin-right: -2rem;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-top:2rem !important;
  z-index: 999999 !important;
}

.comment-container {
  position:absolute;
  width: 65%;
  max-height: 80vh;

  top: 6rem;
  left: 105%;

  border: black;
  border-style: solid;
  border-width: 2px;

  overflow-y: scroll
}

.comment {
  width: 100%;
}

.comment-profile-picture {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.thirty {
  background-color: var(--thirty);
}

.navigtaion-title {
  font-family: "Carter One";
  font-size: 4rem;
  color: var(--ten);
}

.navigation-button {
  font-family: "Carter One";
  font-size: 1rem;

  color: var(--ten);
  text-decoration: none;
}

.account-container {
  display: table;
  position: absolute;
  padding-top: auto;
  padding-bottom: auto;
  right: 2rem;
  top: 2rem;
  height: 3rem;
}

.account-image {
  display: inline-block;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  background-color: #aaaaaa;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  object-fit: cover;
}

.accountpage-image {
  display: inline-block;
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  background-color: #aaaaaa;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  object-fit: cover;
}

.accountpage-container {
  display: inline-block;
  vertical-align: top;
}

.accountpage-name {
  display: inline-block;
}

.account-button {
  height: 100%;
  padding-right: 1.5rem;

  display: table-cell;
  vertical-align: middle;
  border-width: 0;

  background-color: inherit;
  color: var(--ten);

  text-decoration: none;
  font-weight: bold;
}

.account-button:hover {
  color: var(--link);
}

.test {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

a {
  color: var(--link);
}

.no-underline {
  text-decoration: none;
}