:root {
  --sixty: #DDD0C8;
  --thirty: #ffffff;
  --ten: #000000;
  --accent: #e0e0e0;
  --hard-accent: #9d977b;
  --link: #3f73d9;
  --hard-link: #3620a4;
  --error: red;
}

@font-face {
  font-family: "Quicksand";
  src: url('Mate.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Carter One";
  src: url('CarterOne.ttf');
  font-weight: normal;
  font-style: normal;
}

@page  
{ 
    size: auto; /* auto is the initial value */ 
    margin: 15mm; /* this affects the margin in the printer settings */ 
}

html,
body {
  font-family: "Quicksand";
  font-size: 0.9rem;
  background-color: var(--thirty);

  overscroll-behavior-y: none;
  touch-action: pan-y;
  scrollbar-gutter: stable;

  @media (min-width: 768px) { 
    background-color: var(--sixty) !important;
    font-size: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--hard-link);
}

.ignore {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.disabled {
  pointer-events: none;
  opacity: 90% !important;
  background-color: #eeeeee !important;
  color: grey !important;
}

.sixty {
  background-color: var(--sixty);
}

.thirty {
  background-color: var(--thirty);
}

.box {
  box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
  border-radius: 25px;
}

.soft-shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.react-tooltip {
  background-color: black;
  opacity: 1;
  max-width: 50vh;
  position: absolute;
  z-index: 1000000 !important;
}

.navbar {
  background-color: var(--accent) !important;
}

.accountpage-image {
  display: inline-block;
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  background-color: #aaaaaa;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  object-fit: cover;
}

.accountpage-container {
  display: inline-block;
  vertical-align: top;
}

.accountpage-name {
  display: inline-block;
}